<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/homepage.css" />
    link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/header') %>
    <%- include('./partials/slide') %>
    <%- include('./partials/slide') %>
    <%- include('./partials/slide') %>
<!-- <%- include('./partials/footer') %> -->
</body>
</html>