<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/homepage.css" />
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/header') %>
    <div id="Slider">
    <%- include('./partials/slide') %>
    <%- include('./partials/slide') %>
    <%- include('./partials/slide') %>
<!-- <%- include('./partials/footer') %> -->
</body>
</html>