<!DOCTYPE <!DOCTYPE html>
<html>
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>
    <%- include('../../partials/nav') %>
    <main>
        <form id="addimg-form" action="/addimg" method="post">
        <input id = "img_url" type="text" name="img_url" placeholder="Enter your image URL path " required>
        <% users.forEach((client) => { %>
            <fieldset>
                <label for="client">
                    <span><%= client.lastname %> - <%= client.pin %></span>
                    <input type="radio" name="user_id" value="<%= client.user_id %>" required>
                </label>
            </fieldset>
        <% }); %>
             <button type="submit">Add into Database</button>
        </form>
    </main>
</body>
<%- include('../../partials/footer') %>
</html>