<!DOCTYPE html>
<html>
    <%- include('../../partials/head') %>
<body>
    <%- include('../../partials/header') %>
    <%- include('../../partials/nav') %>

    <h4>Client Access Test</h4>
    <main>
        <form id="client-access" action="/client" method="post">
            <input type="text" name="lastname" placeholder="Last Name" required> <br>
            <input type="number" name="pin" placeholder="4 Digits PIN" min="1000" max="9999" required> <br>
            <button type="submit">Submit</button>
        </form>
    </main>

    <section id="image-container">
        <h1>Welcome back</h1> <br>
        <div class="grid">
<% if(typeof img === 'object'){ %>
            <% img.forEach(pic => { %>
            <div class="module">
                <img src="<%= (pic.img_url || 'https://place-hold.it/200x200') %>">
            </div>
        <% }); %>
<%} %>
    </section>
</body>
    <%- include('../../partials/footer') %>
</html>
